<!doctype html> 

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Daniel Preys</title>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <link rel="stylesheet" type="text/css"  href="/main.css">
  <script defer src="https://kit.fontawesome.com/c3d4d7953c.js"></script>

  
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Daniel Preys</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--
      <li class="nav-item active">
        <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
      </li>
      -->
      <li class="nav-item active">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#portfolio">Expertise and Resume</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link contact" href="#contact">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>  

<div class="hero-image ">  
  

</div> 
 

<div class = "sticky ">
    <div class = "container">  

    <div class = "resume expertise">
      <h2>Resume </h2>
      <p>A bit of what I've done and where I did it</p>
    </div>

    <div class = "row headz">
      <div class = "col"><h3>Customer Service and Client Retention</h3><i class="far fa-handshake head-image fa-6x"></i> <p>Lorem Ipsum</p></div>

      <div class = "col"><h3>Operations Management</h3>
        <i class="fas fa-cogs head-image fa-6x"></i><p>Lorem Ipsum</p></div>

      <div class = "col"><h3>Workflow Design and Implementation</h3>
        <i class="fas fa-network-wired head-image fa-6x"></i><p>Lorem Ipsum</p></div>

      <div class = "col"><h3>Content Creation and Management</h3>
        <i class="fas fa-laptop-medical fa-6x head-image"></i><p>Lorem Ipsum</p></div>
    </div>

    <div class = "row resume-sec">
      <div class = col-md-3> 
        <p>Maynard House<p>
        <p>Director of Business Operations</p>
        <p>2018 - Present <p>
      </div>
      <div class = col-md-9 >
        <div class="vl vl1">
          <ul>
            <li>Volunteer Management, planning and community engagement</li>
            <li>Development of Standard Operating Procedures</li>
            <li>Lead of house operations</li>
            <li>Primary web administrator and general content developer</li> 
        </div>
      
      </div>

      <div class = col-md-3> 
        <p>Peninsula Parking<p>
        <p>Operations Manager</p>
        <p>2016 - 2018<p>
      </div>
      <div class = col-md-9 >
        <div class="vl vl2">
          <ul>
            <li>Maintained site operations, built new account RFP and created implementation plans</li>
            <li>Streamlined the hiring process workflow</li>
  <li>Outlined and developed a reward based Learning Management Platform </li>
</ul>

        </div>
      </div>

      <div class = col-md-3> 
        <p>iCracked<p>
        <p>Redistribution Manager</p>
        <p>2014 - 2015<p>

      </div>
      <div class = col-md-9 >
        <div class="vl vl3">
          <ul>
            <li>Built and actualized the company’s first reverse logistics workflow</li>
            <li>Development of vendor networks and sales pipelines</li>
            <li>Established innovative programs to generate revenue</li>
        </div>
      </div>

    </div>



    <div class = "expertise">
      <h2>Technical Expertise</h2>
    </div>  
    <div class = "row headz">

      <div class = "col"><i class="fas fa-code fa-6x head-image"></i><h3>Front End Development</h3> <p>My experience includes building with HTML, CSS and JS. I can constuct simple static sites or full applications.</p></div>

      <div class = "col"><i class="fab fa-wordpress-simple fa-6x head-image"></i><h3>CMS Design</h3><p>While setup can be tricky, getting a beautiful site up and running is simple with WordPress. I'm great with Squarespace and Wix as well!</p></div>

      <div class = "col"><i class="fas fa-desktop fa-6x head-image"></i><h3>Content Management</h3><p>Put me in charge of managing your content. You won't be disappointed!</p></div>

    </div>
      


  </div> 
</div>


    <div class = "container-fluid port " id = "portfolio" >
      <div class = "expertise "  >
      <h2 >My Work </h2>
      <p>Check out a few of my projects</p>
      </div> 
      <div class = "row"> 
    <div class = "row headz">

      <div class = "col port-pic"><img src= "photos/bookapp.png" class = "portfolio book"><div class = "descript"><p>Simple application using Google's Book API allowing a user to search for any book.</p></div></div>

      <div class = "col port-pic"><img src= "photos/weather.png" class = "portfolio weather"><div class = "descript"><p>Weather App, utiziling geolocation to deliver real time weather update to the user. </p></div></div>

      <div class = "col port-pic"><img src= "photos/wiki.png" class = "portfolio wiki"><div class = "descript"><p>Wikipedia search bar built with Wikipedia's API</p></div></div>

      <div class = "col port-pic"><img src= "photos/calc.png" class = "portfolio calc"><div class = "descript"><p>A functional calculator! </p></div></div>

      <div class = "col port-pic"><img src= "photos/dashboard.png" class = "portfolio dash"><div class = "descript"><p>Beautiful dasboard built with two other developers that features the weather, a random motivational quote and to-do list.</p></div></div>

      <div class = "col port-pic"><img src= "photos/eft.png" class = "portfolio cook"><div class = "descript"><p>WordPress Food Blog featuring product reviews and cooking tips</p></div></div>
    </div>

      
  </div> 
   <hr>
</div>


<div class = "container-fluid" id = "contact">
      <div class = "expertise">
      <h2>Get in Touch</h2>
      </div> 
</div> 

<div class = "container-fluid contact-form" id ="contact">
<!--<form action="/send" method="post">
  <div class="form-row">
    <div class="form-group col-sm-6">
      <input type="firsttName" class="form-control" id="inputFirst" placeholder="First Name">
    </div>
    <div class="form-group col-sm-6">
      <input type="lastName" class="form-control" id="inputLast" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group col-sm-6">
      <input type="phone" class="form-control" id="inputPhone" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
  </div>
  <div class = "sub-btn">
  <button type="button" class="btn btn-outline-primary">Submit</button>
  </div>
</div>
-->

<div class="typeform-widget" data-url="https://danielpreys.typeform.com/to/KhVx9p" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=KhVx9p&utm_source=typeform.com-14096118-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>

</div>



<footer>
  <div class = "container-fluid footer-list">
  <p>Site made by Daniel Preys &copy; 2018</p>
    <ul class="sm-links">
      <li class = "social-img github-thmb li-soc"><i class="fab fa-github-square fa-lg" ></i></li>
      <li class = "social-img codepen-thmb li-soc"><i class="fab fa-codepen fa-lg" ></i></li>  
      <li class = "social-img linked-thmb li-soc"><i class="fab fa-linkedin fa-lg" ></i></li> 
      <li class = "social-img insta-thmb li-soc"><i class="fab fa-instagram fa-lg" ></i></li> 
    </ul>
  </div>  
</footer>  
  

</body>
<script src="main.js"></script>
</html>